---
import { storyblokEditable } from '@storyblok/astro'
import Backend from '@components/icons/Backend.astro'
import Jamstack from '@components/icons/Jamstack.astro'
import Link from '@components/Link.astro'
import Markdown from '@components/Markdown.astro'
import WCAG from '@components/icons/WCAG.astro'

const { blok } = Astro.props

const hasSource = blok.sourceName && blok.sourceRole
---

<div {...storyblokEditable(blok)} class="bg-gray-50 px-8 py-10 rounded-md">
  {blok.icon && (
    <div class="w-20 py-6 flex justify-center bg-gray-100 rounded-md mb-4">
      {blok.icon === 'backend' && <Backend />}
      {blok.icon === 'jamstack' && <Jamstack />}
      {blok.icon === 'wcag' && <WCAG />}
    </div>
  )}

  {blok.title && <h2 class="font-medium text-gray-700 text-lg mb-4">{blok.title}</h2>}

  {blok.description && <Markdown classes="font-normal text-gray-600 text-md" content={blok.description} />}

  {blok.link.url && (
    <div class="relative">
        <Link link={blok.link} classes="font-semibold text-gray-600 text-md relative z-10">Read more</Link>
        <span class="w-32 h-1 bg-blue-200 absolute bottom-1 left-0 z-0"></span>
    </div>
  )}

  {hasSource && <div class="font-semibold text-gray-600 text-md">{blok.sourceName} <span class="font-medium text-gray-600 text-sm">- {blok.sourceRole}</span></div>}
</div>
