---
import { storyblokEditable } from '@storyblok/astro'
import Markdown from '@components/Markdown.astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'

const { blok } = Astro.props
---

<section {...storyblokEditable(blok)} class="py-10 md:py-16">
  <div class="container max-w-screen-xl mx-auto px-4">
    {blok.title && <h2 class="font-medium text-gray-700 text-3xl md:text-4xl mb-5">{blok.title}</h2>}

    {blok.description && <Markdown classes="font-normal text-gray-600 text-xs md:text-base mb-20" content={blok.description} />}

    {blok.items.length > 0 && (
      <div class="grid gap-16">
        <div aria-hidden="true" class="hidden lg:grid grid-cols-3">
          <h3 class="font-medium text-gray-800 text-base uppercase">Company</h3>
          <h3 class="font-medium text-center text-gray-800 text-base uppercase">Position</h3>
          <h3 class="font-medium text-right text-gray-800 text-base uppercase">Term</h3>
        </div>

        {blok.items.map((item, index) => <StoryblokComponent blok={item} number={index} total={blok.items.length} />)}
      </div>
    )}
  </div>
</section>
